*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  position: relative;
}

.main{
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;

}
.nav1{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}
.nav2{
    background-color: cadetblue;
}

.nav1 .right {
    display: flex;
    gap: 20px;
    margin-right: 3rem;
}

.nav1 .right li{
    list-style: none;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-top: 60px;
}

img{
    width: 200px;
    height: 200px;
    object-position: center;
    border-radius: 20px;
    
}


.hero .left {
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.hero .right {
    display: flex;
    flex-direction: column;
    gap: 80px;

}

